.btn.btn--primary {
  background-color: #3333cc;
  color: #fff;
}
.rte--product.accordion .accordion__label:hover {
    background-color: #3333cc;
}
.rte--product.accordion .accordion__group[data-open='true'] a.accordion__label {
    background: #3333cc;
}
@media (min-width: 60em){
    .footer__groups {
        grid-template-columns:repeat(3, 1fr);
    }
    .footer__group.footer__group--menu, .footer__group.footer__group--social_media_list, .footer__group.footer__group--text {
        grid-column: auto;
    }
}